%ul
  -@adverts.each do |advert|
    %li.advert
      = link_to advert do
        .image-wrapper
          = image_tag advert.user.avatar.url(:small)
        .title-wrapper
          = advert.title
        .prize-wrapper
          PRIZE



= link_to 'New Advert', new_advert_path
