// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-box{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(148,148,148,1);
  box-shadow:  0px 0px 3px 0px rgba(148,148,148,1);
}

@mixin border-box-hover{
  -webkit-box-shadow: 2px 2px 10px 0 rgba(105,137,219,1);
  -moz-box-shadow: 2px 2px 10px 0 rgba(105,137,219,1);
  box-shadow: 2px 2px 10px 0 rgba(105,137,219,1);
}

.advert{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  //border: 1px solid grey;
  margin: 8px 5px;
  @include border-box;
  border-radius: 5px;
  a{
    display: flex;
    align-items: center;
    width: 100%;
    .image-wrapper{
      //display: inline;
    }
    .content-wrapper{
      //display: inline;
    }
    .prize-wrapper{
      //display: inline;
    }
  }

  &:hover{
    @include border-box-hover;
  }

}
