// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.simple_form.search{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  .search_advert_type, .search_job_type, .search_city, .search_price{
    margin: 2% 1%;

  }

  .btn{
    align-self: baseline;
    margin-top: 2%;
    margin-left: 1%;
  }
}

.advert{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 160px;
  margin: 8px 5px;

  @include border-box;
  border-radius: 5px;
  a{
    display: flex;
    align-items: flex-start;
    width: 100%;
    color: #444;
    font-weight: bold;

    .image-wrapper{

    }
    .content-wrapper{
      width: 65%;
      margin: 2%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .title{
        font-size: 20px;
        align-self: flex-start;
        word-break: break-all;
      }
      .job-type{
        margin-top: 5%;
        align-self: flex-start;
      }
      .location{
        align-self: flex-start;
      }
    }
    .prize-wrapper{
      margin: 0 2%;
      align-self: center;
      font-size: 20px;
    }
    .data-wrapper{
      margin: 2% 2% 2% 0;
    }

    &:hover{
      text-decoration: none;
    }

  }

  &:hover{
    @include border-box-hover;
  }

}


.container-advert{
  .title{
    text-align: center;
    word-break: break-all;
  }
  .image-wrapper{
    img{
      @include border-box;
    }
    
  }
}
