// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.simple_form.search{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  .advert_type, .job_type, .city, .price{
    display: flex;
    align-items: center;
    width: 20%;

  }
}

.advert{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  //border: 1px solid grey;
  margin: 8px 5px;
  @include border-box;
  border-radius: 5px;
  a{
    display: flex;
    align-items: center;
    width: 100%;
    .image-wrapper{
      //display: inline;
    }
    .content-wrapper{
      //display: inline;
    }
    .prize-wrapper{
      //display: inline;
    }
  }

  &:hover{
    @include border-box-hover;
  }

}
