@import "bootstrap-sprockets";

@import 'settings/color-variables';
@import 'settings/z-index-variables';
@import 'settings/typography-variables';
@import 'settings/components-variables';
@import 'settings/views-variables';
@import 'framework/variables';

@import 'framework/components';

@import 'settings/breakpoint-variables';

@import 'utilities/functions';
@import 'utilities/mixins';
@import 'utilities/shared';
@import 'utilities/typography';

@import 'framework/overrides';

@import 'adverts';

header{
  .container-fluid{
    margin: 0 50px;

    .navbar-nav{
      color: #fff;
      font-weight: bold;
      li{
        margin: 20px 10px;
        a{
          font-weight: bold;
        }
        .btn-primary{
          color: #fff;

          &:hover{
            color: #000;
          }
        }
      }
    }
  }
}

#notice-wrapper{
  width: 100%;
  background-color: #5276e3;
  opacity: 0.9;
  p{
    padding: 30px 0;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 1px;
  }
}

footer{
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  position: absolute;

  .footer-wrapper{
    padding: 40px 0;
    text-align: center;
  }
}
